.header{
    background-color: var(--header-color);
    color: var(--text-color);
}
.nav-item{
    margin: 0% 20px;
}
.nav-item p{
    color: white;
    font-weight: 800;
}
a.text-center.nav-link.active{
    color: var(--brand-heading);
}
.nav-item a{
    color: white;
    text-decoration: none;
}
.navbar-nav{
    align-items: center;
}
.navbar-nav img{
    height: 90px;
}
.sub-header{
    padding-top: 30px;
    background-color: var(--sub-header-bg);
    color: white;
    align-items: center;
}
nav.sub-header.navbar.navbar-expand-lg{
    /* padding: 15px 0px 15px 0px; */
    position: sticky;
    top: 0;
    z-index: 1;
}