[data-theme="light"]{
  --text-color: black;
  --card-color:#FFFFFF;
  --header-color:#FFFFFF;
  --table-color:#FFFFFF;
  --sub-header-bg:#005D63;
  --img-info-bg:#005D63;
}

[data-theme='dark'] {
  --bg-color: black;
  --text-color: white;
  --card-color:#252525;
  --header-color:#505050;
  --table-color:#FFFFFF12;
  --sub-header-bg:#303030;
  --img-info-bg:#00000099;
  --img-card-box: #FFFFFF12;
}
[data-project="purina"][data-theme="light"] {
  --bg-color: #E82F2F; /* Purina-specific light theme background */
  --text-color: #000000; /* Purina-specific light theme text */
  --sub-header-bg:#cd1717;
  --brand-heading:#ffffff4d;
}
[data-project="recetas"][data-theme="light"] {
  --bg-color: #e437b0; /* Purina-specific light theme background */
  --text-color: #000000; /* Purina-specific light theme text */
  --sub-header-bg:#d32881;
  --brand-heading:#ffffff4d;
}

[data-project="unifier"][data-theme="light"] {
  --bg-color: #099aa4; /* Unifier-specific light theme background */
  --text-color: #000000; /* Unifier-specific light theme text */
  --sub-header-bg:#005D63;
  --brand-heading:#ffffff4d;
}
[data-project="professional"][data-theme="light"] {
  --bg-color: #EBA742; /* Unifier-specific light theme background */
  --text-color: #000000; /* Unifier-specific light theme text */
  --sub-header-bg:#97661e;
  --brand-heading:#ffffff4d;
}
/* Project-specific dark theme styles */
[data-project="purina"][data-theme="dark"] {
  --text-color: #FFFFFF; /* Purina-specific dark theme text */
  --sub-header-bg:#303030;
  --brand-heading: #E82F2F;
}
[data-project="recetas"][data-theme="dark"] {
  --text-color: #ffffff; /* Purina-specific dark theme text */
  --sub-header-bg:#303030;
  --brand-heading: #E50077;
}

[data-project="unifier"][data-theme="dark"] {
  --text-color: #FFFFFF; /* Unifier-specific dark theme text */
  --brand-heading: #099AA4;
}
[data-project="professional"][data-theme="dark"] {
  --text-color: #FFFFFF; /* Unifier-specific dark theme text */
  --brand-heading: #EBA742;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mainContainer{
	min-height: 100vh;
	padding: 2em;
}
.containerWrapper{
  width: 100%;
	margin-inline: auto;
	display: flex;
	align-items: flex-start;
}
h1.brandBackgroundHeading{
  margin-top: 2.5rem;
  font-size: 2.7rem;
  margin-block: 0 0.25em;
	color: var(--brand-heading);
	transform-origin: center;
	rotate: 180deg;
	writing-mode: vertical-lr;
	text-transform: uppercase;
	position: sticky;
	top: 3em;
  user-select: none;

}
h1.brandBackgroundHeading::after {
	content: ".";
}
h2,
h3 {
  text-align: left;
  font-weight: 700;
}
.navbar-brand{
  font-weight: 700;
  color: var(--text-color);
}
.form-control, .form-select{
  border-radius: 0%;
}
.type-selector{
  width: 34%;
}

/** Card Image */
.card {
  border-radius: 0px;
  border: none;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 2% 0%;
}

.card-img {
  border-radius: 0;
}

.card-img-overlay {
  padding: 0;
}

.card_Background_Color {
  background-color: var(--img-info-bg) !important;
}

.card_Image_Size {
  padding: 2%;
  border-radius: 0px 0px 15px 0px;
}

.card_Image_Dimension {
  padding: 2%;
  border-radius: 0px 0px 0px 15px;
}

.card-body {
  padding: 0;
}

.card-title {
  margin: 0;
  font-weight: normal;
  font-size: 1.1rem;
}

.card_Name_Image {
  padding: 2%;
}

.list-group-item {
  background-color: var(--img-card-box);
}

.list-group-flush > .list-group-item {
  border: none;
}

.bg_Color_Line {
  background-color: var(--img-card-box);
}

.card_BorderLine {
  border: 1px solid var(--bg-color);
  width: 80%;
}
/** End Card Image */

.main {
  margin-top: 2.5rem;
  background-color: var(--card-color);
  padding: 4rem;
}
.fade.mt-3.alert.alert-danger.show {
  background-color: var(--card-color);
  height: auto;
}

.imageArticle {
  width: 100%;
  height: 100%;
}
.tableContainer{
  width: fit-content;
  border-radius: 0px 10px 10px 10px;
  border: 1px solid #0000004D;
  background-color: var(--table-color);
}
table th a, 
table td a {
  display: inline-block; /* Allows max-width to apply */
  max-width: 200px; /* Set your desired maximum width */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Show ellipsis for overflow */
  white-space: nowrap; /* Prevent the text from wrapping */
}
.schemaTable th,td,tr{
  background-color: #00000000;
  color: var(--text-color);
  overflow-x:hidden
}
.schemaTable td,th{
  padding-left: 30px;
  background-color: #00000000;
  color: var(--text-color);
  
}
.schema tr{
  border: 4px #E0E0E0;
/* background-color: #962323e5; */
}

.highlight-added {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #d4fcbc;
}

.highlight-removed {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #ffbcbc;
}

/**Alert**/

.alert{
  width: 100%;
  height: 60px;
}